h1.about_page_header {
    position: absolute;
    background: #171717;
    left: 50%;
    transform: translate(-50%, 5px);
    width: 59%;
    text-align: center;
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    font-weight: 600;
    padding-bottom: 8px;
    color: white;
}